.BottomFooter {
    width: 100%;
    height: 500px;
    background-color: #131A22;
    padding-top: 100px;
}

table {
    width: 980px;
    margin: 0px auto;
}

tr {
    width: 100%;
    height: 200px;
}

td {
    width: 140px;
    color: white;
    font-size: 10px;
    text-align: left;
    height: 80px;
    color : #999;
    text-decoration: none;
}

td:hover {
    text-decoration: underline;
}

.LinkHead {
    display: block;
    font-weight: bold;
    color: #B6DDD1;
    font-size: 14px ;
}

@media (max-width : 1125px) {
    .BottomFooter {
        width: 1125px;
    }
  }

.Copyright {
    display: flex;
    color: white;
    width: 800px;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 130px;
}

.Copyright > p:hover{
    text-decoration: underline;
}