.NavLineOne {
    height: 47px;
}

.MenuButton {
    height: 20px;
    width: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MenuButton > div {
    height: 1px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color: white;
}