.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0px 0ppx 0px;
}

.Shipping > img {
    height: 245px;
    width: 100%;
}

.SignIn {
    background-color: #fff;
    padding: 20px 0px 15px 0px;
    box-sizing: content-box;
    height: 115px;
    margin-bottom: 20px;
}

.SignIn > p {
    font-size: 27px;
    font-weight: bold;
    padding-left: 5%;
}

.SignIn > button {
    font-family: Arial, Helvetica, sans-serif;
    height: 33px;
    border: 1px solid #846A29;
    border-radius: 4px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    background: linear-gradient(to bottom,#f5d78e,#eeb933);
}

.SignIn > button:hover {
    background: linear-gradient(to bottom,#fad068,#f1b315);
}