.Cards {
    box-sizing: border-box;
    width: auto;
    display: grid;
    margin: 0px 20px;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-areas: "one two three four"
                         "five six seven eight";
    grid-gap : 20px;
}

@media (max-width : 1125px) {
    .Cards {
      width: 1085px;
      grid-template-columns: repeat(3 , 1fr);
      grid-template-areas: "one two three"
                            "five six four"
                            "seven eight nine";
    }
  }