.MainDiv {
    overflow: hidden;
}

.CarouselContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.Controls {
  width: 100%;
  position: absolute;
  top : 94px;
}

.Image {
  position: relative;
  width: 100vw;
  height: 600px ;
  background-repeat: no-repeat;
  background-position: center;
}

.Image > div {
  width: 100%;
  height: 600px;
  background-image:linear-gradient(rgba(0,0,0,0) , #EAEDED);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.Image > img {
  position: relative;
  bottom: 600px;
  z-index: -1;
}





@media (max-width : 999px) {
    .CarouselContainer , .Image {
      width: 1200px;
    }
  }

  .PrevSlideButton , .NextSlideButton {
    height: 240px;
    box-sizing: border-box;
    width: 120px;
    bottom: 600px;
  }
  
  .PrevSlideButton {
    padding: 96px 0px 0px 10px;
    float: left;
  }
  
  .NextSlideButton {
    padding: 96px 0px 0px 70px;
    float: right;
  }