.Layout {
    width: 100%;
}

.LayoutMobile {
  display: none;
}

@media (max-width : 1125px) {
    .Layout {
      width: 1125px;
    }
  }

@media (max-width : 540px) {
    .Layout{
      display: none;
    }

    .LayoutMobile{
      display: block;
      width: 100vw;
    }
}